.section {
  overflow: hidden;
}
.first {
  padding-top: 80px;
}
.first.current .text > img {
  margin: 0 5px;
  opacity: 1;
}
.first .logo {
  width: 251px;
  height: 186px;
  background: url("../images/logo.png");
  margin: 0 auto;
}
.first .text {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
.first .text > img {
  margin: 0 30px;
  opacity: 0.3;
  transition: margin 1s, opacity 1s;
}
.first .intro {
  width: 772px;
  height: 49px;
  background: url("../images/info_1.png");
  margin: 40px auto;
}
.second > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second .shield {
  width: 440px;
  font-size: 0;
}
.second .shield > img:nth-of-type(1) {
  transform: translateX(100px) rotate(30deg);
}
.second .shield > img:nth-of-type(2) {
  transform: translateX(200px) rotate(60deg);
}
.second .shield > img:nth-of-type(3) {
  transform: translateX(100px) rotate(30deg);
}
.second .shield > img:nth-of-type(4) {
  transform: translateX(100px) rotate(30deg);
}
.second .shield > img:nth-of-type(5) {
  transform: translateX(100px) rotate(90deg);
}
.second .shield > img:nth-of-type(1) {
  transform: translateX(100px) rotate(60deg);
}
.second .shield > img:nth-of-type(6) {
  transform: translateX(100px) rotate(30deg);
}
.second .shield > img:nth-of-type(7) {
  transform: translateX(100px) rotate(30deg);
}
.second .shield > img:nth-of-type(8) {
  transform: translate(220px) rotate(150deg);
}
.second .shield > img:nth-of-type(9) {
  transform: translate(200px 120px) rotate(90deg);
}
.second.current .shield > img {
  transform: none;
  transition: transform 1s;
}
.third {
  position: relative;
}
.third .info {
  width: 631px;
  height: 278px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
}
.third .circle {
  width: 453px;
  height: 449px;
  background: url("../images/circle.png");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(20%, -50%);
}
.third .circle .rocket {
  position: absolute;
  width: 203px;
  height: 204px;
  left: -600px;
  top: 600px;
  transition: left 1s, top 1s, transform 5s;
}
.third.current .circle .rocket {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fourth {
  position: relative;
}
.fourth.current .search .pic {
  height: 372px;
  transition: height 1s 2s;
}
.fourth.current .search .text {
  width: 99px;
  transition: width 1s 1s steps(5);
}
.fourth.current .search .searchbar {
  transform: translateX(0%);
  transition: transform  1s;
}
.fourth .search {
  width: 529px;
  height: 438px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-115%, -50%);
  overflow: hidden;
}
.fourth .search .searchbar {
  width: 529px;
  height: 66px;
  background: url("../images/search.png");
  transform: translateX(-100%);
}
.fourth .search .text {
  width: 0;
  height: 22px;
  background: url("../images/key.png");
  position: absolute;
  top: 22px;
  left: 14px;
}
.fourth .search .pic {
  width: 529px;
  height: 0;
  background: url("../images/result.png");
  margin-top: -12px;
}
.fourth .info {
  width: 612px;
  height: 299px;
  background: url("../images/info_4.png");
  position: absolute;
  top: 50%;
  rigth: 50%;
  transform: translate(110%, -50%);
}
.fifth {
  position: relative;
  text-align: center;
}
.fifth.current .box .boxline .top {
  transform: translateX(0%);
  transition: transform 1s;
}
.fifth.current .box .boxline .left {
  transform: translateY(0%);
  transition: transform 1s;
}
.fifth.current .box .boxline .right {
  transform: translateY(0%);
  transition: transform 1s;
}
.fifth.current .box .boxline .bottom {
  opacity: 1;
  transition: opacity 1s;
}
.fifth.current .box .iebox {
  opacity: 1;
  width: 920px;
  transition: width 1s 2s,opacity 1s 2s;
}
.fifth.current .box .ie {
  width: 1004px;
  transition: width 1s 2s;
}
.fifth.current .box .picbox {
  width: 394px;
  transition: width 1s 2s;
}
.fifth.current .box {
  opacity: 1;
  transition: opacity 1s;
}
.fifth .info {
  margin-top: 20px;
}
.fifth .box {
  width: 1006px;
  height: 486px;
  margin: 20px auto;
  overflow: hidden;
  background-color: #32B3DB;
  opacity: 0;
}
.fifth .box .boxline {
  position: relative;
}
.fifth .box .boxline .top {
  width: 1006px;
  height: 1px;
  background-color: #98DAEA;
  position: absolute;
  top: 0;
  transform: translateX(100%);
}
.fifth .box .boxline .left {
  width: 1px;
  height: 486px;
  background-color: #98DAEA;
  position: absolute;
  left: 0;
  transform: translateY(-100%);
}
.fifth .box .boxline .right {
  width: 1px;
  height: 486px;
  background-color: #98DAEA;
  position: absolute;
  right: 0;
  transform: translateY(100%);
}
.fifth .box .boxline .bottom {
  height: 1px;
  width: 1006px;
  background-color: #98DAEA;
  position: absolute;
  bottom: -450px;
  opacity: 0;
}
.fifth .box .ie {
  width: 0;
  height: 79px;
  background: url("../images/toolbar.png");
}
.fifth .box .iebox {
  width: 0;
  opacity: 0;
  height: 26px;
  border: 1px solid #98DAEA;
  border-radius: 4px;
  position: absolute;
  top: 208px;
  left: 248px;
}
.fifth .box .picbox {
  width: 0;
  height: 29px;
  background: url("../images/extra.png");
  position: absolute;
  bottom: 8px;
  left: 740px;
}
